# Back-end (Java, Spring)
target/
*.log
*.jar
*.war
*.ear
.idea/
.DS_Store
*.iml
*.ipr
*.class
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

# Front-end (Node.js, React)
node_modules/
dist/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.vscode/
.idea/
.DS_Store
coverage/
*.lcov
.nyc_output/
*.env
.env.*
.cache/
.parcel-cache/
.next/
out/
*.tgz
.yarn-integrity

# Ignorar outros arquivos de build e de configuração do editor
.history/
*.swp
*.suo
*.ntvs*
*.njsproj
*.sln
